.section1 {
    padding: 84px 0 24px;
    position: relative;
    height: calc(100%);
    .overlay {
        padding: 60px 10px 0px;
        background-image: url(/assets/logo.png);
        background-position: 50% 25%;
        background-size: 50%;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        filter: blur(5px) brightness(0.3) saturate(0.6);
        z-index: -10;
        background-repeat: no-repeat;
    }
}