.progressbar {
    background-color: white;
    height: 9px;
    border-radius: 5px;
    width: 100%;
    transition: 0.5s;
    position: relative;
    .progress {
        height: 100%;
        position: absolute;
        width: 0px;
        background-color: var(--blue);
        transition: 0.5s;
        border-radius: 5px 0 0 5px;
    }
}
.main {
    padding: 0;
    height: 100%;
}
.quiz {
    padding: 80px 0 0 0;
}
.choices {
    height: 70%;
    width: 100%;
    padding: 0 0 20px 0;
    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .primary {
        width: 135px;
    }
    .disabled {
        pointer-events: none;
        filter: grayscale(1) brightness(0.5);
    }
    .card {
        font-size: 19px;
        background-color: var(--blue-dark2);
        height: 100px;
        width: 70%;
        border: 1px solid rgba(255, 255, 255, 0.90);
        display: flex;    
        border-radius: 5px;
        transition: 0.2s;
    }
    .card:hover {
        background-color: var(--blue-dark4);
        border-color: black;
    }
    .active {
        background-color: var(--blue);
    }
    .active:hover {
        border: 1px solid rgba(255, 255, 255, 0.90);
        background-color: var(--blue);
        filter: brightness(1.1);
    }
}
@media only screen and (max-width: 1024px) {
    .choices {
        height: unset;
    }
    .quiz {
        padding: 80px 0 20px 0;
    }
}
@media only screen and (max-width: 660px) {
    .choices {
        .container {
            gap: 20px;
        }
        .card {
            height: 50px;
            font-size: 15px;
        }
    }
}