.section1 {
    padding: 84px 0 24px 0;
    border-bottom: 2px solid rgba(128, 128, 128, 0.492);
    .button {
        gap: 10px;
        width: fit-content;
        width: 100%;
        height: 40px;
        cursor: pointer;
    }
    .info-bar {
        display: flex;
        gap: 25px;
        .Box_1 {
            max-width: 129px;
            width: 100%;
            height: 44px;
            gap: 10px;
        }
        .Box_2 {
            gap: 10px;
            max-width: 198px;
            width: 100%;
            height: 44px;
        }
        .Box_3 {
            gap: 10px;
            max-width: 128px;
            width: 100%;
            height: 44px;
        }
    }
}
.lock-container {
    position: relative;
    .lock {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #1f242d;
        background-image: url(/assets/icon/lock.svg);
        background-position: 50%;
        background-size: 50%;
        background-repeat: no-repeat;
    }
    .active {
        background-color: var(--blue);
        background-image: url("/");
    }
}
.line {
    stroke: #FFFFFF;
    opacity: 0.24;
    stroke-width: 1;
}

/* Learning pathway */
.section2 {
    .box_big {
        max-width: 800px;
        width: calc(100% - 20px / 2);
        height: auto;
        .wrap {
            width: 100%;
            background-color: var(--blue-dark2);
            border-radius: 10px;
            min-height: auto;
            padding: 25px 20px 25px 20px;
            #primary {
                max-width: 242px;
                width: 100%;
                height: 38px;
            }
        }
        .wrap_small {
            width: 85.0058822631836px;
            height: 125.2558822631836px;
        }
        .wrap_big {
            width: 100%;
            height: auto;
            border-radius: 10px;
            background-color: var(--blue-dark2);
            padding: 10px 15px 10px 15px;
        }
    }
    /* two things after finishing school */
    .box_small {
        max-width: 374px;
        width: 100%;
        height: min-content;
        .wrap {
            width: 100%;
            padding: 20px;
            background-color: #1f242d;
            border-radius: 10px;
            .box_1 {
                max-width: 284px;
                width: 100%;
                height: auto;
                .block {
                    width: calc((100% - 28px) / 3);
                    height: 34px;
                    border-radius: 10px;
                    background-color: #303541;
                }
            }
            .box_2 {
                padding: 0 22px;
            }
        }
    }
}
/* selection table */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #000617ab;
    opacity: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .container__overlay {
        background-color: var(--blue-dark2);
        max-width: 684px;
        width: 95%;
        height: auto;
        padding: 25px 10px;
        border-radius: 10px;
        user-select: none;
        .content {
            max-width: 400px;
            width: 100%;
            height: auto;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .container {
        .box_big {
            max-width: none;
            padding-bottom: 0;
            /* choose learning pathway */
            .wrap {
                max-width: 555px;
                height: auto;
                .lock {
                    width: 16px;
                    height: 19px;
                }
                #primary {
                    max-width: 200px;
                }
            }
            /* cuorse */
            .wrap_small {
                width: 64.005882px;
                height: 123.255882px;
            }
            .wrap_big {
                padding: 15px 20px 15px 20px;
            }
        }
        .box_small {
            max-width: none;
            width: 100%;
            .wrap {
                width: calc((100% - 21px) / 2);
            }
        }
    }
}
@media only screen and (max-width: 660px) {
    .container {
    height: auto;
    .info-bar {
            .Box_1 {
                height: 34px;
            }
            .Box_2 {
                height: 34px;
            }
            .Box_3 {
                height: 34px;
            }
        }
    }
    .container {
        .box_big {
            .wrap {
                max-width: none;
                width: 100%;
                #primary {
                    max-width: 170px;
                }
            }
        }
        .box_small {
            height: auto;
            .wrap {
                width: 100%;
                padding: 20px 22px;
                .box_1 {
                    grid-template-columns: repeat(
                        auto-fit,
                        minmax(81.5px, 1fr)
                    );
                    display: grid;
                    max-width: none;
                    .block {
                        width: 100%;
                    }
                }
            }
        }
    }
}
